@mixin dropdown($prefix, $width-dropdown, $height-dropdown) {
  position: relative;
  color: grey;
  display: inline-block;
  font-weight: bold;
  .#{$prefix}-option {
    font-size: 13px;
    padding-left: 5px;
    line-height: $height-dropdown - 2px;
    .icon {
      position: relative;
      top: 2px;
      font-size: 16px;
      height: 16px;
      line-height: 16px;
      vertical-align: middle;
      margin-right: 5px;
      &:before {
        height: 16px;
      }
    }
  }

  .#{$prefix}-current {
    position: relative;
    border-radius: 8px;
    border: 2px solid gray;
    width: $width-dropdown;
    height: $height-dropdown;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    &:before {
      content: "";
      position: absolute;
      right: 10px;
      top: $height-dropdown/2  - 3px;
      border-color: #999 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 0;
      display: block;
      height: 0;
      width: 0;
    }
  }

  .#{$prefix}-select {
    width: $width-dropdown;
    position: absolute;
    top: $height-dropdown + 1px;
    left: 0;
    z-index: 1000;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      width: 10px;
      height: 5px;
      box-sizing: border-box;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #818a96;
    }
    ul {
      margin-top: 5px;
      background: #fff;
      border-radius: 2px;
      border-top: 3px solid #818a96;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
      list-style-type: none;
      -webkit-overflow-scrolling: touch;
      padding: 0;
      li {
        border-bottom: solid 1px #e6e9ed;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .#{$prefix}-noresults {
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }

  &.is-open {
    .#{$prefix}-current {
      &:before {
        border-color: transparent transparent #999;
        border-width: 0 5px 5px;
      }
    }
  }
}
