@import './components/ControlDropdown';
@import './components/ControlCMD';

.app {
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;


  .row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border-bottom: 2px solid lightgrey;

    &.main-row {
      border-bottom: none;
    }

    .flex-col {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      > span {
        margin-right: 5px;
        color: grey;
        font-weight: bold;
      }

      .dropdown {
        @include dropdown("dropdown", 70px, 36px);
        margin-right: 10px;
      }

      .parkinglots-container {
        position: relative;
        width: 100%;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .block-wrapper {
          position: absolute;
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          height: 100%;

          .block, .bus {
            position: relative;
            background: lightblue;
            margin: 2px;
            flex: 1 1 calc(20% - 4px);
            min-width: 1px;
            min-height: 1px;
          }

          .bus {
            .bus-content{
              position: absolute;
              height: 100%;
              width: 100%;

              display: flex;
              align-items: center;
              justify-content: center;

              .bus-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 50%;
                width: 50%;

                .bus-id {
                  margin-right: 2px;
                  font-size: 16px;
                  font-weight: bold;
                  color: grey;
                }
              }
            }
          }
        }
      }
    }
  }

  .row-3 {
    .flex-col {
      width: 33%;
    }
  }

  .row-4 {
    &.thick-row {
      height: 150px;
    }

    textarea {
      height: 120px;
      width: 80%;
    }

    .flex-col {
      position: relative;
      width: 25%;
    }
  }

  .row-5 {
    margin-bottom: 50px;
    .flex-col {
      width: 20%;
    }
  }

  a {
    i {
      vertical-align: middle;
      margin: 20px;
    }
  }

  .btn {
    display: flex;
    cursor: pointer;
  }
}
